<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="寝室管理系统.MainSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <寝室管理系统.MainSettings>
            <setting name="Initial_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Initial_Time" serializeAs="String">
                <value>2023/9/2</value>
            </setting>
        </寝室管理系统.MainSettings>
    </applicationSettings>
</configuration>